<launch>
    <arg name="name" default="downward"/>
    <arg name="image" default="image_raw"/>
    <arg name="camera" default="camera_info"/>
    <arg name="calibration" default="$(find uvc_cam)/calib/openMV_pinhole.yaml"/>
    <arg name="width" default="960"/>
    <arg name="height" default="540"/>
    <arg name="fps" default="120"/>
    <arg name="contrast" default="10"/>
    <arg name="sharpness" default="90"/>
    <arg name="rectify" default="true"/>
    <arg name="cam_prod_id" default="8310"/>
    <arg name="gamma" default="100"/>

    <group ns="$(arg name)">

	<!-- camera node, set parameters in uvc_cam_node.py -->
        <node pkg="uvc_cam" name="uvc_cam" type="uvc_cam_node.py" output="screen">
            <param name="image" value="$(arg image)"/>
            <param name="camera" value="$(arg camera)"/>
            <param name="calibration" value="$(arg calibration)"/>
            <param name="width" value="$(arg width)"/>
            <param name="height" value="$(arg height)"/>
            <param name="fps" value="$(arg fps)"/>
            <param name="contrast" value="$(arg contrast)"/>
            <param name="sharpness" value="$(arg sharpness)"/>
            <param name="cam_prod_id" value="$(arg cam_prod_id)"/>
            <param name="gamma" value="$(arg gamma)"/>
        </node>

	<!-- image rectification node -->
        <node pkg="image_proc" name="image_proc" type="image_proc" if="$(arg rectify)"/>

    </group>
</launch>
